* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a1c20;
  background-color: #eeeff1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Start Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .left a {
  font-size: 22px;
  font-weight: 600;
  color: #ff7a00;
}

nav .right ul {
  display: flex;
  gap: 20px;
}

nav .right ul li a {
  color: #1a1c20;
}

/* Start Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text h2 span {
  color: #0073f7;
  margin: 20px 0;
}

.hero-section .avatar {
  display: flex;
  justify-content: right;
}

.hero-section .avatar img {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
}
